//////////////////////////////////title sction
.jumbo{
  background-image: url('../images/Background.jpg');
  position: relative;
  background-size: cover;
  .back_1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .text{
    position: relative;
    text-align: center;
    padding: 7.5% 18%;
    @media screen and (max-width:576px){padding: 7.5%;}

    .top_header{
        color: $white;
        font-weight: $heavy;
        font-size: $biggest;
        @media screen and (max-width:1200px){font-size: 50px;}
        @media screen and (max-width:992px){font-size: 40px;}
        @media screen and (max-width:768px){font-size: 36px;}
        @media screen and (max-width:576px){font-size: 30px;}
        @media screen and (max-width:375px){font-size: 24px;}
    }
    .subtitle_text{
      color: $greyish;
      font-size: 25px;
      @media screen and (max-width:1200px){font-size: 22px;}
      @media screen and (max-width:992px){font-size: 18px;}
      @media screen and (max-width:768px){font-size: 16px;}
      @media screen and (max-width:576px){font-size: 14px;}
      @media screen and (max-width:375px){font-size: 12px;}
    }
    .button1{
      padding-top: 10%;
      @media screen and (max-width: 1200px){
        padding-top: 6%;
      }
      button{
        width: 15em;height: 4.5em;
        @media screen and (max-width: 992px){font-size: 11px!important;}
        @media screen and (max-width: 768px){font-size: 10px!important;}
        @media screen and (max-width: 576px){font-size: 8px!important;width: 14em;height: 4em;}
      }
    }
  }
}


//////////////////////////////////////services section
.services{
  padding: 6.25em 0 4em;
  width: 67%;
  @media screen and (max-width: 1200px){padding: 6em 0 2em;width: 70%;}
  @media screen and (max-width: 992px){padding: 5em 0 2em;width: 60%;}
  @media screen and (max-width: 768px){padding: 4em 0 2em;width: 75%;}
  @media screen and (max-width: 576px){padding: 3em 0 2em;width: 80%;}

  h2{
    @media screen and (max-width: 1200px){font-size: 30px;}
    @media screen and (max-width: 768px){font-size: 24px;}
    @media screen and (max-width: 576px){font-size: 18px;}
  }
  h4{
    font-size: 20px;
    color: $opaque2;
    font-weight: 700;
    padding-top: 1em;
    @media screen and (max-width: 1200px){font-size: 18px;}
    @media screen and (max-width: 992px){font-size: 20px;}
    @media screen and (max-width: 576px){font-size: 15px;}
  }
  .subtitle_text{
    font-size: 25px;
    padding-bottom: 2em;
    @media screen and (max-width: 1200px){font-size: 20px;}
    @media screen and (max-width: 992px){font-size: 19px;padding-bottom: 3em;}
    @media screen and (max-width: 576px){font-size: 14px;padding-bottom: 2em;}
  }
  .pro{
    .column{
      padding-bottom: 3em;
      .icons{
        height: 4em;
      }
    }

    img{
      display: inline-block;
    }
    p{
      font-size: 15px;
      @media screen and (max-width: 1200px){font-size: 14px;}
      @media screen and (max-width: 992px){font-size: 18px;}
      @media screen and (max-width: 576px){font-size: 12px;}

    }
  }
}


//////////////////////////////////////just relax section
#back2{
  background-color: $background1;
  background-size: cover;
  position: relative;
  padding: 0;
  height: auto;
  #image1{
    width: 27.8%;
    z-index: 0;
    transform: translate(60%,30%);
    position: absolute;
    @media screen and (max-width: 768px){visibility: hidden;}
  }
  #back{
    background-image: url('../images/Background2.jpg');
    width: 69.3%;
    height: 100%;
    z-index: 9;
    float: right;
    position: relative;
    background-size: cover;
    @media screen and (max-width: 768px){width: 100%;}
    .bg2{
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
    }
    .text{
      margin: 10%;
      position: relative;
      @media screen and (max-width: 425px){margin: 6%;}

      #header2{
        color: $white;
        font-weight: $heavy;
        #and{
          color: $green;
        }
        @media screen and (max-width: 1200px){font-size: 30px;}
        @media screen and (max-width: 992px){font-size: 24px;}
        @media screen and (max-width: 576px){font-size: 18px;}
        @media screen and (max-width: 425px){font-size: 16px;}
  }
      #desc2{
        font-size: 20px;
        width: 27em;
        color: $greyish;
        @media screen and (max-width: 1200px){font-size: 16px;}
        @media screen and (max-width: 992px){font-size: 14px;}
        @media screen and (max-width: 576px){font-size: 10px;}
        @media screen and (max-width: 425px){font-size: 8px;}
        .grid{
          margin: 0;
          padding-top: 0.4em;
          .i{
            padding: 0;
            .ic{
              width: 32px;
              height: 32px;
              @media screen and (max-width: 576px){width: 20px;height: 20px;}
              i{
                font-weight: $light;
                font-size: inherit;
                transform: translateY(5px);
              }
              border-radius: 2.5em;
              border-style: solid;
              text-align: center;
              border-color: $greyish;
              border-width: 1px;
            }
          }
          .grid-item{
            @media screen and (max-width: 1200px){ padding-top: 1%;}

          }
        }
        .button2{
          width: 12em;
          font-size: 14px;
          transform: scaleY(1.0783);
          margin-top: 2em;
          @media screen and (max-width: 992px){font-size: 12px!important;margin-top: 1em;}
          @media screen and (max-width: 576px){font-size: 10px!important;margin-top: 0;}
          @media screen and (max-width: 425px){font-size: 7px!important;}
        }
      }
    }
  }
}


//////////////////////////////////////latest project section
.latest_project{
  padding: 7% 0 0 0;
  width: 100%;
  .top_header{
    text-align: center;
    padding-bottom: 3em;
    .subtitle_text{
      font-size: 25px;
      font-weight: 400;
    }
  }
  .subhead{
    padding-left: 16.6%;
    .mid{
      h4{
        font-size: 18px;
        font-weight: 700;
        color: $opaque2;
        margin-bottom: 0;
      }
      .header_small{
        padding-bottom: 1em;
        h4{padding-bottom: inherit;}
        .desc{
          padding-right: 30%;
          font-size: 16px;
        }
      }
      .grid{
        padding-bottom: 1em;
        .items{
          padding: 0;
          .item{
            border-radius: 3em;
            border-style: solid;
            height: 67px;
            width: 67px;
            margin: 0;
            border-color: $opaque;
            border-width: 3px;
            img{
              position: absolute;
              left: 40%;
              top: 50%;
              transform: translate(-40%,-50%);
            }
          }
            img{}
        }
        .features{
          padding-left: 1em;

        }
      }

      .bottomline{
        padding-right: 25%;
        font-size: 16px;
        p{font-size: inherit;}
        .ref{
          font-size: inherit;
          color: $green;
          font-weight: 700;
        }
        .ref:hover{
          color: $opaque2;
        }
      }
    }
  }
  @media screen and (max-width: 1200px){
    padding: 6em 0 2em;
    .top_header{
      h2{font-size: 32px;}
      .subtitle_text{font-size: 20px;}
    }
    .subhead{
      .mid{
        h4{font-size: 18px;}
        .header_small{
          .desc{
            padding-right: 16%;
          }
          padding: 0.8em 0;
        }
        .grid{
          padding-bottom: 1em;
          .items{
            .item{
              width: 60px;
              height: 60px;
              img{transform: translate(-40%,-50%) scale(0.9,0.9);}
            }
          }
        }
        .bottomline{padding-right: 14%;}
      }
    }
  }
  @media screen and (max-width: 992px){
    padding: 5em 0 3em;
    .top_header{
      h2{font-size: 30px;}
      .subtitle_text{font-size: 19px;}
    }
    .subhead{
      padding-left: 12.5%;
      .mid{
        h4{font-size: 17px!important;}
        .header_small{
          padding: 0.7em 0;
          .desc{
            padding-right: 10%;
            font-size: 15px;
          }
        }
        .grid{
          padding-bottom: 0.8em;
          .items{

            .item{
              img{
              transform: translate(-40%,-50%) scale(0.75,0.75);
              }
              width: 55px;
              height: 55px;

            }
          }
          .features{padding: 0 0 0 2em;font-size: 15px;}
        }

        .bottomline{
          padding-right: 7%;
          font-size: 15px;
        }
      }
    }
  }
  @media screen and (max-width: 800px){
    padding: 4em 0 2em;
    .top_header{
      padding-bottom: 2em;
      h2{font-size: 28px;}
      .subtitle_text{font-size: 18px;}
    }
    .subhead{
      padding-left: 8%;
      .mid{
        h4{font-size: 16px!important;}
        .header_small{
          padding-bottom: 0.4em;
            .desc{padding-right: 2em; font-size: 13px;}
        }
        .grid{
          padding-bottom: 0.9em;
          .items{
            .item{
              width: 50px;
              height: 50px;
            }
          }
          .features{

            p{font-size: 13px;}
          }
        }
        .bottomline{
          font-size: 13px;
          .ref{font-size: 12px;}
        }
      }
    }
  }
  @media screen and (max-width: 767px){
    padding-top: 4em;
    .top_header{
      padding-bottom: 2em;
      h2{font-size: 28px;}
      .subtitle_text{font-size: 18px;}
    }
    .subhead{
      padding: 0;
      .mid{
        padding: 0 7em;
        h4{font-size: 18px;}
        .header_small{
            .desc{padding-right: 0; font-size: 16px;}
        }
        .grid{
          padding-bottom: 0.9em;
          .features{
            p{font-size: 16px;}
          }
          .items{
            .item{
              width: 55px;
              height: 55px;
              img{left: 30%;}
            }
          }
        }
        .bottomline{
          font-size: 16px;
        }
      }
      .tphone{
        img{float: right;}
      }
    }
  }
  @media screen and (max-width: 576px){
    .top_header{
      h2{font-size: 26px;}
      .subtitle_text{font-size: 16px;}
      padding-bottom: 1em;
    }
    .subhead{
      .mid{
        padding: 0 5em;
        h4{font-size: 16px!important;}
        .header_small{
          h4{padding-bottom: 0.6em;}
          padding: 0.7em 0;
        }
        .grid{
          .items{
            .item{
              width: 50px;
              height: 50px;
              img{transform: translate(-40%, -50%) scale(0.7, 0.7);
    left: 40%;}
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 425px){
    padding-top: 2em;
    .top_header{
      h2{font-size: 24px;}
      .subtitle_text{font-size: 15px;}
    }
    .subhead{
      .mid{
        padding: 0 4em;
        h4{font-size: 15px!important;}
        .header_small{
          h4{padding-bottom: 0.6em;}
          padding: 0.7em 2.6em 0 0;
          .desc{font-size: 14px;}
        }
        .grid{
          padding-bottom: 0.8em;
          .items{

            .item{
              width: 50px;
              height: 50px;
            }
          }
          .features{
            p{font-size: 14px;}
          }
        }
        .bottomline{font-size: 14px;}
      }
    }
  }
  @media screen and (max-width: 375px){
    .subhead{
      .mid{
        padding: 0 3.7em;
        h4{font-size: 14px!important;}
        .header_small{
          padding: 0.7em 0;
        }
        .grid{
          .features{
            padding: 0 0 0 2em;
            p{font-size: 14px;}
          }
        }
        .bottomline{
          font-size: 14px;
          padding-right: 0;
          .ref{font-size: 14px;}
        }
      }
    }
  }
  @media screen and (max-width: 320px){
    .subhead{
      .mid{
        h4{font-size: 14px;}
        .header_small{
          .desc{font-size: 12px;}
        }
        .grid{
          .items{
            .item{
              width: 50px;
              height: 50px;
            }
          }
          .features{
            padding-left: 2em;
            p{font-size: 12px;}
          }
        }
        .bottomline{
          font-size: 12px;
          .ref{font-size: 12px!important;}
        }
      }
    }
  }
}


///////////////////////////////////////culture and values section
#culture{
  background-color: $background2;
  margin: 0;
  width: 100%;
  .text{
    margin: 10% 0;
    h2{
      @media screen and (max-width: 1200px){font-size: 30px;}
      @media screen and (max-width: 576px){font-size: 24px;}
    }
    .subtitle_text{
      font-size: 25px;
      @media screen and (max-width: 1200px){font-size: 20px;}
      @media screen and (max-width: 576px){font-size: 16px;}
    }
    h4{
      font-size: 18px;
      color: $opaque2;
      font-weight: 700;
      margin-top: 1em;
      @media screen and (max-width: 1200px){font-size: 16px;}

    }
    .values{
      margin: 5% 12.5% 0;
      @media screen and (max-width: 768px){margin: 7% 10%;}
      .icons{
          position: relative;
          border-radius: 50%;
          border-style: solid;
          border-color: $base_font_color;
          img{
            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(-50%,40%);
          }
          height: 6em;
          width: 6em;
          display: inline-block;
      }
      .icon1::after{
          content: "";
          position: absolute;
          border-top: 2px solid;
          width: 50%;
          top: 2.5em;
          transform: translateX(50%);
          @media screen and (max-width: 992px){visibility: hidden;}
      }
      .icon2::after{
          content: "";
          position: absolute;
          border-top: 2px solid;
          width: 50%;
          top: 2.5em;
          transform: translate(50%, 0);
          @media screen and (max-width: 992px){visibility: hidden;}
      }
      .description{
        font-size: 16px;
        @media screen and (max-width: 1200px){font-size: 15px;}
        @media screen and (max-width: 992px){margin-bottom: 5%;}
        @media screen and (max-width: 576px){font-size: 14px;}
      }
    }
  }
}


///////////////////////////////////////////clients
#clients{
  margin: 7% 0;
  font-family: RobotoSlab;
  .heading{
    @media screen and (max-width: 1200px){font-size: 40px;}
    @media screen and (max-width: 992px){font-size: 30px;}
    @media screen and (max-width: 767px){font-size: 24px;}
    @media screen and (max-width: 576px){font-size: 20px;}
  }
  .subtitle_text{
    font-size: 25px;
    @media screen and (max-width: 1200px){font-size: 25px;}
    @media screen and (max-width: 992px){font-size: 20px;}
    @media screen and (max-width: 767px){font-size: 18px;}
    @media screen and (max-width: 576px){font-size: 14px;}
  }

  .grid{
    padding: 2.5% 17% 0;
    @media screen and (max-width: 1200px){padding: 2% 15% 0;}
    @media screen and (max-width: 992px){padding: 2% 10% 0;}
    @media screen and (max-width: 767px){padding: 10% 20% 0;}
    @media screen and (max-width: 767px){padding: 10% 7.5% 0;}
      .item1 , .item4{
        @media screen and (max-width: 767px){text-align: -webkit-center;}
        .item{
          background: $opaque2;
          border-radius: 50%;
          height: 221px;
          width: 221px;
          @media screen and (max-width: 1200px){width:192px;height:192px;}
          @media screen and (max-width: 992px){width: 176px;height: 176px;}
        }
      }
      .item4{
        .item{
          float: right;
          @media screen and (max-width: 767px){float: none;}
        }
      }
      .item2,.item3{
        transform: translateY(10%);
       .tooltext{
          width: auto;
          height: auto;
          position: relative;
          background: $background2;
          padding: 7.5%;
          @media screen and (max-width: 576px){padding: 5%;}
          .text{
            font-size: 22px;
            @media screen and (max-width: 1200px){font-size: 18px;}
            @media screen and (max-width: 991px){font-size: 16px;}
            @media screen and (max-width: 576px){font-size: 14px;}
            }
          .clientname{
            color: $green;
            font-size: 18px;
            @media screen and (max-width: 1200px){font-size: 15px;}
            @media screen and (max-width: 991px){font-size: 14px;}
            @media screen and (max-width: 991px){font-size: 12px;}
      }
        }
      }
      .item2{
        .tooltext::after{
          content: '';
          position: absolute;
          left: -3%;
          top: 50%;
          width: 0;
          height: 0;
          border: 15px solid transparent;
          border-right-color: $background2;
          border-left: 0;
          transform: translateY(-50%);
          margin-left: 0;
          @media screen and (max-width: 767px){visibility: hidden;}
        }
      }
      .item3{
        .tooltext::after{
          content: '';
          position: absolute;
          right: -3%;
          top: 50%;
          width: 0;
          height: 0;
          border: 15px solid transparent;
          border-left-color: $background2;
          border-right: 0;
          transform: translateY(-50%);
          margin-right: 0;
          @media screen and (max-width: 767px){visibility: hidden;}
        }
      }
    }
  }


//////////////////////////////////////////panel
#talknext{
    width: 100%;
    height: auto;
    background-color: $green;
    color: $white;
    padding: 4em 9em;
    @media screen and (max-width: 1200px){padding: 2em 6em;}
    @media screen and (max-width: 768px){padding: 1.5em 4em;}
    @media screen and (max-width: 576px){padding: 1em;}
    #talk{
      color: $white;
      margin-bottom: 1em;
      @media screen and (max-width: 1200px){font-size: 30px;}
      @media screen and (max-width: 768px){font-size: 24px;}
      @media screen and (max-width: 576px){font-size: 18px;}
      @media screen and (max-width: 375px){font-size: 16px;}
    }
    .button3{
      border-color: $white;
      border-style: solid;
      border-width: 3px;
      border-radius: 0.5em;
      width: 11em;
      height: 3em;
      font-size: 18px;
      text-shadow: none;
      @media screen and (max-width: 1200px){font-size: 16px;width: 10em;}
      @media screen and (max-width: 768px){font-size: 15px;}
      @media screen and (max-width: 576px){font-size: 12px;}
    }
    .button3:hover{
        color: $green!important;
    }
  }


//////////////////////////////////////////logos
#logos{
    padding: 2em 0;
    margin-top: 0;
    width: 54.6%;
    @media screen and (max-width: 768px){width: 70%;padding: 1.5em 0;}
    @media screen and (max-width: 576px){padding: 0.75em 0;}
    .logo{
      padding: 2%;
      text-align: -webkit-center;
    }

  }
