/* line 1, ../sass/1-base/_base.scss */
body {
  font-family: Montserrat;
  color: #777777;
  font-size: 16px;
  overflow-x: hidden;
}
/* line 6, ../sass/1-base/_base.scss */
body h2 {
  font-weight: 700;
  color: #222222;
  font-size: 40px;
  font-family: Montserrat;
}

/* line 13, ../sass/1-base/_base.scss */
html body {
  width: -webkit-fill-available;
}

/* line 16, ../sass/1-base/_base.scss */
p {
  font-family: RobotoSlab;
  font-weight: 400;
}

/* line 1, ../sass/2-layout/_nav.scss */
.navi {
  background-color: #ffffff !important;
}

/* line 2, ../sass/2-layout/_nav.scss */
.navbar {
  margin-bottom: 0;
  z-index: 9999;
  border-radius: 0;
  padding: 2.5% 0;
}
/* line 8, ../sass/2-layout/_nav.scss */
.navbar .navbar-nav li {
  font-size: 14px !important;
}
/* line 11, ../sass/2-layout/_nav.scss */
.navbar .navbar-nav li a :hover, .navbar .navbar-nav li a :active {
  color: #222222 !important;
}
/* line 17, ../sass/2-layout/_nav.scss */
.navbar .navbar-collapse {
  margin: 0;
}
/* line 20, ../sass/2-layout/_nav.scss */
.navbar .navbar-brand {
  color: #555555;
  font-weight: 700;
  margin-left: 10% !important;
  padding: 5% 0;
  width: 200px;
}
/* line 26, ../sass/2-layout/_nav.scss */
.navbar .navbar-brand img {
  display: inline;
  border-radius: 50%;
  background: #7cc576;
  padding: 4% 4.5%;
}
@media screen and (max-width: 767px) {
  /* line 34, ../sass/2-layout/_nav.scss */
  .navbar .navbar-brand {
    padding: 10px 0 0 0;
  }
}

/* line 37, ../sass/2-layout/_nav.scss */
.navbar-default .navbar-toggle {
  border-color: transparent;
}

/* line 2, ../sass/2-layout/_footer.scss */
.topfooter {
  background-color: #222222;
  color: #ececec;
  font-size: 16px;
  padding: 4em 14.375em;
}
/* line 7, ../sass/2-layout/_footer.scss */
.topfooter .columns {
  padding-bottom: 1.5em;
}
/* line 9, ../sass/2-layout/_footer.scss */
.topfooter .columns header {
  background-color: inherit;
  color: #ffffff;
  font-weight: 700;
  padding-bottom: 1.1em;
  font-size: 18px;
}
/* line 16, ../sass/2-layout/_footer.scss */
.topfooter .columns .grid-container-fluid {
  display: grid;
  grid-template-columns: 15% auto;
  grid-row-gap: 10px;
}
/* line 20, ../sass/2-layout/_footer.scss */
.topfooter .columns .grid-container-fluid .i2 {
  font-size: 22px;
}
/* line 23, ../sass/2-layout/_footer.scss */
.topfooter .columns .grid-container-fluid .ref {
  font-family: RobotoSlab;
}
/* line 25, ../sass/2-layout/_footer.scss */
.topfooter .columns .grid-container-fluid .ref a {
  color: inherit !important;
}
/* line 26, ../sass/2-layout/_footer.scss */
.topfooter .columns .grid-container-fluid .ref .quote {
  font-weight: 700;
}
/* line 29, ../sass/2-layout/_footer.scss */
.topfooter .columns .grid-container-fluid .ref .mini {
  font-size: 12px;
}
/* line 33, ../sass/2-layout/_footer.scss */
.topfooter .columns .grid-container-fluid .ref:hover {
  color: #7cc576;
}
/* line 35, ../sass/2-layout/_footer.scss */
.topfooter .columns .grid-container-fluid .ref:hover a {
  text-decoration: none;
}
/* line 40, ../sass/2-layout/_footer.scss */
.topfooter #col3 {
  padding-right: 5%;
}
@media screen and (max-width: 1200px) {
  /* line 2, ../sass/2-layout/_footer.scss */
  .topfooter {
    font-size: 15px;
    padding: 3em 8em;
  }
  /* line 46, ../sass/2-layout/_footer.scss */
  .topfooter .mini {
    font-size: 13px;
  }
}
@media screen and (max-width: 767px) {
  /* line 2, ../sass/2-layout/_footer.scss */
  .topfooter {
    font-size: 12px;
    padding: 3em 5em;
  }
  /* line 51, ../sass/2-layout/_footer.scss */
  .topfooter .mini {
    font-size: 10px;
  }
}
@media screen and (max-width: 425px) {
  /* line 2, ../sass/2-layout/_footer.scss */
  .topfooter {
    font-size: 16px;
  }
  /* line 55, ../sass/2-layout/_footer.scss */
  .topfooter .mini {
    font-size: 12px;
  }
}
@media screen and (max-width: 375px) {
  /* line 2, ../sass/2-layout/_footer.scss */
  .topfooter {
    font-size: 14px;
  }
  /* line 59, ../sass/2-layout/_footer.scss */
  .topfooter .mini {
    font-size: 11px;
  }
}

/* line 65, ../sass/2-layout/_footer.scss */
.bottom_footer {
  padding: 2em 13em;
  margin-top: 0;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  /* line 65, ../sass/2-layout/_footer.scss */
  .bottom_footer {
    padding: 2em 10em;
  }
}
@media screen and (max-width: 1024px) {
  /* line 65, ../sass/2-layout/_footer.scss */
  .bottom_footer {
    padding: 2em 7em;
  }
}
@media screen and (max-width: 768px) {
  /* line 65, ../sass/2-layout/_footer.scss */
  .bottom_footer {
    padding: 2em 6.5em;
  }
}
@media screen and (max-width: 425px) {
  /* line 65, ../sass/2-layout/_footer.scss */
  .bottom_footer {
    padding: 1em 3em;
  }
}
/* line 75, ../sass/2-layout/_footer.scss */
.bottom_footer .Copyright {
  padding: 0.75em 0;
  font-size: 14px;
  color: #555555;
  line-height: 22px;
}
@media screen and (max-width: 1200px) {
  /* line 75, ../sass/2-layout/_footer.scss */
  .bottom_footer .Copyright {
    font-size: 13px;
  }
}
@media screen and (max-width: 425px) {
  /* line 75, ../sass/2-layout/_footer.scss */
  .bottom_footer .Copyright {
    font-size: 10px;
    padding-bottom: 1em;
  }
}
/* line 83, ../sass/2-layout/_footer.scss */
.bottom_footer .follow {
  list-style: none;
  padding: 0;
}
/* line 86, ../sass/2-layout/_footer.scss */
.bottom_footer .follow li {
  display: inline-block;
}
/* line 88, ../sass/2-layout/_footer.scss */
.bottom_footer .follow li .fa {
  text-decoration: none;
  font-size: 20px;
  height: 2.05em;
  color: #ffffff;
  width: 2.05em;
  padding: 0.5em;
  background-color: #222222;
  border-radius: 50%;
}
/* line 98, ../sass/2-layout/_footer.scss */
.bottom_footer .follow li .fa-twitter:hover {
  background-color: #00aced;
}
/* line 99, ../sass/2-layout/_footer.scss */
.bottom_footer .follow li .fa-facebook:hover {
  background-color: #3b5998;
}
/* line 100, ../sass/2-layout/_footer.scss */
.bottom_footer .follow li .fa-pinterest-p:hover {
  background-color: #cb2028;
}
/* line 101, ../sass/2-layout/_footer.scss */
.bottom_footer .follow li .fa-google-plus:hover {
  background-color: #da2713;
}

/* line 1, ../sass/3-modules/_buttons.scss */
.button {
  color: #ffffff;
  border-radius: 2.5em;
  border-style: none;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  height: 4.3em;
  transform: scale(1.0783, 1.0783);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  background-color: #7cc576;
}

/* line 13, ../sass/3-modules/_buttons.scss */
.button:hover {
  background-color: #ffffff;
  color: #222222;
}

/* line 2, ../sass/3-modules/_sections.scss */
.jumbo {
  background-image: url("../images/Background.jpg");
  position: relative;
  background-size: cover;
}
/* line 6, ../sass/3-modules/_sections.scss */
.jumbo .back_1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
/* line 14, ../sass/3-modules/_sections.scss */
.jumbo .text {
  position: relative;
  text-align: center;
  padding: 7.5% 18%;
}
@media screen and (max-width: 576px) {
  /* line 14, ../sass/3-modules/_sections.scss */
  .jumbo .text {
    padding: 7.5%;
  }
}
/* line 20, ../sass/3-modules/_sections.scss */
.jumbo .text .top_header {
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
}
@media screen and (max-width: 1200px) {
  /* line 20, ../sass/3-modules/_sections.scss */
  .jumbo .text .top_header {
    font-size: 50px;
  }
}
@media screen and (max-width: 992px) {
  /* line 20, ../sass/3-modules/_sections.scss */
  .jumbo .text .top_header {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  /* line 20, ../sass/3-modules/_sections.scss */
  .jumbo .text .top_header {
    font-size: 36px;
  }
}
@media screen and (max-width: 576px) {
  /* line 20, ../sass/3-modules/_sections.scss */
  .jumbo .text .top_header {
    font-size: 30px;
  }
}
@media screen and (max-width: 375px) {
  /* line 20, ../sass/3-modules/_sections.scss */
  .jumbo .text .top_header {
    font-size: 24px;
  }
}
/* line 30, ../sass/3-modules/_sections.scss */
.jumbo .text .subtitle_text {
  color: #cccccc;
  font-size: 25px;
}
@media screen and (max-width: 1200px) {
  /* line 30, ../sass/3-modules/_sections.scss */
  .jumbo .text .subtitle_text {
    font-size: 22px;
  }
}
@media screen and (max-width: 992px) {
  /* line 30, ../sass/3-modules/_sections.scss */
  .jumbo .text .subtitle_text {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  /* line 30, ../sass/3-modules/_sections.scss */
  .jumbo .text .subtitle_text {
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  /* line 30, ../sass/3-modules/_sections.scss */
  .jumbo .text .subtitle_text {
    font-size: 14px;
  }
}
@media screen and (max-width: 375px) {
  /* line 30, ../sass/3-modules/_sections.scss */
  .jumbo .text .subtitle_text {
    font-size: 12px;
  }
}
/* line 39, ../sass/3-modules/_sections.scss */
.jumbo .text .button1 {
  padding-top: 10%;
}
@media screen and (max-width: 1200px) {
  /* line 39, ../sass/3-modules/_sections.scss */
  .jumbo .text .button1 {
    padding-top: 6%;
  }
}
/* line 44, ../sass/3-modules/_sections.scss */
.jumbo .text .button1 button {
  width: 15em;
  height: 4.5em;
}
@media screen and (max-width: 992px) {
  /* line 44, ../sass/3-modules/_sections.scss */
  .jumbo .text .button1 button {
    font-size: 11px !important;
  }
}
@media screen and (max-width: 768px) {
  /* line 44, ../sass/3-modules/_sections.scss */
  .jumbo .text .button1 button {
    font-size: 10px !important;
  }
}
@media screen and (max-width: 576px) {
  /* line 44, ../sass/3-modules/_sections.scss */
  .jumbo .text .button1 button {
    font-size: 8px !important;
    width: 14em;
    height: 4em;
  }
}

/* line 56, ../sass/3-modules/_sections.scss */
.services {
  padding: 6.25em 0 4em;
  width: 67%;
}
@media screen and (max-width: 1200px) {
  /* line 56, ../sass/3-modules/_sections.scss */
  .services {
    padding: 6em 0 2em;
    width: 70%;
  }
}
@media screen and (max-width: 992px) {
  /* line 56, ../sass/3-modules/_sections.scss */
  .services {
    padding: 5em 0 2em;
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  /* line 56, ../sass/3-modules/_sections.scss */
  .services {
    padding: 4em 0 2em;
    width: 75%;
  }
}
@media screen and (max-width: 576px) {
  /* line 56, ../sass/3-modules/_sections.scss */
  .services {
    padding: 3em 0 2em;
    width: 80%;
  }
}
@media screen and (max-width: 1200px) {
  /* line 64, ../sass/3-modules/_sections.scss */
  .services h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  /* line 64, ../sass/3-modules/_sections.scss */
  .services h2 {
    font-size: 24px;
  }
}
@media screen and (max-width: 576px) {
  /* line 64, ../sass/3-modules/_sections.scss */
  .services h2 {
    font-size: 18px;
  }
}
/* line 69, ../sass/3-modules/_sections.scss */
.services h4 {
  font-size: 20px;
  color: #222222;
  font-weight: 700;
  padding-top: 1em;
}
@media screen and (max-width: 1200px) {
  /* line 69, ../sass/3-modules/_sections.scss */
  .services h4 {
    font-size: 18px;
  }
}
@media screen and (max-width: 992px) {
  /* line 69, ../sass/3-modules/_sections.scss */
  .services h4 {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  /* line 69, ../sass/3-modules/_sections.scss */
  .services h4 {
    font-size: 15px;
  }
}
/* line 78, ../sass/3-modules/_sections.scss */
.services .subtitle_text {
  font-size: 25px;
  padding-bottom: 2em;
}
@media screen and (max-width: 1200px) {
  /* line 78, ../sass/3-modules/_sections.scss */
  .services .subtitle_text {
    font-size: 20px;
  }
}
@media screen and (max-width: 992px) {
  /* line 78, ../sass/3-modules/_sections.scss */
  .services .subtitle_text {
    font-size: 19px;
    padding-bottom: 3em;
  }
}
@media screen and (max-width: 576px) {
  /* line 78, ../sass/3-modules/_sections.scss */
  .services .subtitle_text {
    font-size: 14px;
    padding-bottom: 2em;
  }
}
/* line 86, ../sass/3-modules/_sections.scss */
.services .pro .column {
  padding-bottom: 3em;
}
/* line 88, ../sass/3-modules/_sections.scss */
.services .pro .column .icons {
  height: 4em;
}
/* line 93, ../sass/3-modules/_sections.scss */
.services .pro img {
  display: inline-block;
}
/* line 96, ../sass/3-modules/_sections.scss */
.services .pro p {
  font-size: 15px;
}
@media screen and (max-width: 1200px) {
  /* line 96, ../sass/3-modules/_sections.scss */
  .services .pro p {
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  /* line 96, ../sass/3-modules/_sections.scss */
  .services .pro p {
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) {
  /* line 96, ../sass/3-modules/_sections.scss */
  .services .pro p {
    font-size: 12px;
  }
}

/* line 108, ../sass/3-modules/_sections.scss */
#back2 {
  background-color: #e9e9e9;
  background-size: cover;
  position: relative;
  padding: 0;
  height: auto;
}
/* line 114, ../sass/3-modules/_sections.scss */
#back2 #image1 {
  width: 27.8%;
  z-index: 0;
  transform: translate(60%, 30%);
  position: absolute;
}
@media screen and (max-width: 768px) {
  /* line 114, ../sass/3-modules/_sections.scss */
  #back2 #image1 {
    visibility: hidden;
  }
}
/* line 121, ../sass/3-modules/_sections.scss */
#back2 #back {
  background-image: url("../images/Background2.jpg");
  width: 69.3%;
  height: 100%;
  z-index: 9;
  float: right;
  position: relative;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  /* line 121, ../sass/3-modules/_sections.scss */
  #back2 #back {
    width: 100%;
  }
}
/* line 130, ../sass/3-modules/_sections.scss */
#back2 #back .bg2 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}
/* line 138, ../sass/3-modules/_sections.scss */
#back2 #back .text {
  margin: 10%;
  position: relative;
}
@media screen and (max-width: 425px) {
  /* line 138, ../sass/3-modules/_sections.scss */
  #back2 #back .text {
    margin: 6%;
  }
}
/* line 143, ../sass/3-modules/_sections.scss */
#back2 #back .text #header2 {
  color: #ffffff;
  font-weight: 700;
}
/* line 146, ../sass/3-modules/_sections.scss */
#back2 #back .text #header2 #and {
  color: #7cc576;
}
@media screen and (max-width: 1200px) {
  /* line 143, ../sass/3-modules/_sections.scss */
  #back2 #back .text #header2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 992px) {
  /* line 143, ../sass/3-modules/_sections.scss */
  #back2 #back .text #header2 {
    font-size: 24px;
  }
}
@media screen and (max-width: 576px) {
  /* line 143, ../sass/3-modules/_sections.scss */
  #back2 #back .text #header2 {
    font-size: 18px;
  }
}
@media screen and (max-width: 425px) {
  /* line 143, ../sass/3-modules/_sections.scss */
  #back2 #back .text #header2 {
    font-size: 16px;
  }
}
/* line 154, ../sass/3-modules/_sections.scss */
#back2 #back .text #desc2 {
  font-size: 20px;
  width: 27em;
  color: #cccccc;
}
@media screen and (max-width: 1200px) {
  /* line 154, ../sass/3-modules/_sections.scss */
  #back2 #back .text #desc2 {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  /* line 154, ../sass/3-modules/_sections.scss */
  #back2 #back .text #desc2 {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  /* line 154, ../sass/3-modules/_sections.scss */
  #back2 #back .text #desc2 {
    font-size: 10px;
  }
}
@media screen and (max-width: 425px) {
  /* line 154, ../sass/3-modules/_sections.scss */
  #back2 #back .text #desc2 {
    font-size: 8px;
  }
}
/* line 162, ../sass/3-modules/_sections.scss */
#back2 #back .text #desc2 .grid {
  margin: 0;
  padding-top: 0.4em;
}
/* line 165, ../sass/3-modules/_sections.scss */
#back2 #back .text #desc2 .grid .i {
  padding: 0;
}
/* line 167, ../sass/3-modules/_sections.scss */
#back2 #back .text #desc2 .grid .i .ic {
  width: 32px;
  height: 32px;
  border-radius: 2.5em;
  border-style: solid;
  text-align: center;
  border-color: #cccccc;
  border-width: 1px;
}
@media screen and (max-width: 576px) {
  /* line 167, ../sass/3-modules/_sections.scss */
  #back2 #back .text #desc2 .grid .i .ic {
    width: 20px;
    height: 20px;
  }
}
/* line 171, ../sass/3-modules/_sections.scss */
#back2 #back .text #desc2 .grid .i .ic i {
  font-weight: 400;
  font-size: inherit;
  transform: translateY(5px);
}
@media screen and (max-width: 1200px) {
  /* line 183, ../sass/3-modules/_sections.scss */
  #back2 #back .text #desc2 .grid .grid-item {
    padding-top: 1%;
  }
}
/* line 188, ../sass/3-modules/_sections.scss */
#back2 #back .text #desc2 .button2 {
  width: 12em;
  font-size: 14px;
  transform: scaleY(1.0783);
  margin-top: 2em;
}
@media screen and (max-width: 992px) {
  /* line 188, ../sass/3-modules/_sections.scss */
  #back2 #back .text #desc2 .button2 {
    font-size: 12px !important;
    margin-top: 1em;
  }
}
@media screen and (max-width: 576px) {
  /* line 188, ../sass/3-modules/_sections.scss */
  #back2 #back .text #desc2 .button2 {
    font-size: 10px !important;
    margin-top: 0;
  }
}
@media screen and (max-width: 425px) {
  /* line 188, ../sass/3-modules/_sections.scss */
  #back2 #back .text #desc2 .button2 {
    font-size: 7px !important;
  }
}

/* line 204, ../sass/3-modules/_sections.scss */
.latest_project {
  padding: 7% 0 0 0;
  width: 100%;
}
/* line 207, ../sass/3-modules/_sections.scss */
.latest_project .top_header {
  text-align: center;
  padding-bottom: 3em;
}
/* line 210, ../sass/3-modules/_sections.scss */
.latest_project .top_header .subtitle_text {
  font-size: 25px;
  font-weight: 400;
}
/* line 215, ../sass/3-modules/_sections.scss */
.latest_project .subhead {
  padding-left: 16.6%;
}
/* line 218, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid h4 {
  font-size: 18px;
  font-weight: 700;
  color: #222222;
  margin-bottom: 0;
}
/* line 224, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid .header_small {
  padding-bottom: 1em;
}
/* line 226, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid .header_small h4 {
  padding-bottom: inherit;
}
/* line 227, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid .header_small .desc {
  padding-right: 30%;
  font-size: 16px;
}
/* line 232, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid .grid {
  padding-bottom: 1em;
}
/* line 234, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid .grid .items {
  padding: 0;
}
/* line 236, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid .grid .items .item {
  border-radius: 3em;
  border-style: solid;
  height: 67px;
  width: 67px;
  margin: 0;
  border-color: #000000;
  border-width: 3px;
}
/* line 244, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid .grid .items .item img {
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(-40%, -50%);
}
/* line 253, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid .grid .features {
  padding-left: 1em;
}
/* line 259, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid .bottomline {
  padding-right: 25%;
  font-size: 16px;
}
/* line 262, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid .bottomline p {
  font-size: inherit;
}
/* line 263, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid .bottomline .ref {
  font-size: inherit;
  color: #7cc576;
  font-weight: 700;
}
/* line 268, ../sass/3-modules/_sections.scss */
.latest_project .subhead .mid .bottomline .ref:hover {
  color: #222222;
}
@media screen and (max-width: 1200px) {
  /* line 204, ../sass/3-modules/_sections.scss */
  .latest_project {
    padding: 6em 0 2em;
  }
  /* line 277, ../sass/3-modules/_sections.scss */
  .latest_project .top_header h2 {
    font-size: 32px;
  }
  /* line 278, ../sass/3-modules/_sections.scss */
  .latest_project .top_header .subtitle_text {
    font-size: 20px;
  }
  /* line 282, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid h4 {
    font-size: 18px;
  }
  /* line 283, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small {
    padding: 0.8em 0;
  }
  /* line 284, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small .desc {
    padding-right: 16%;
  }
  /* line 289, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid {
    padding-bottom: 1em;
  }
  /* line 292, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .item {
    width: 60px;
    height: 60px;
  }
  /* line 295, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .item img {
    transform: translate(-40%, -50%) scale(0.9, 0.9);
  }
  /* line 299, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .bottomline {
    padding-right: 14%;
  }
}
@media screen and (max-width: 992px) {
  /* line 204, ../sass/3-modules/_sections.scss */
  .latest_project {
    padding: 5em 0 3em;
  }
  /* line 306, ../sass/3-modules/_sections.scss */
  .latest_project .top_header h2 {
    font-size: 30px;
  }
  /* line 307, ../sass/3-modules/_sections.scss */
  .latest_project .top_header .subtitle_text {
    font-size: 19px;
  }
  /* line 309, ../sass/3-modules/_sections.scss */
  .latest_project .subhead {
    padding-left: 12.5%;
  }
  /* line 312, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid h4 {
    font-size: 17px !important;
  }
  /* line 313, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small {
    padding: 0.7em 0;
  }
  /* line 315, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small .desc {
    padding-right: 10%;
    font-size: 15px;
  }
  /* line 320, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid {
    padding-bottom: 0.8em;
  }
  /* line 324, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .item {
    width: 55px;
    height: 55px;
  }
  /* line 325, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .item img {
    transform: translate(-40%, -50%) scale(0.75, 0.75);
  }
  /* line 333, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .features {
    padding: 0 0 0 2em;
    font-size: 15px;
  }
  /* line 336, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .bottomline {
    padding-right: 7%;
    font-size: 15px;
  }
}
@media screen and (max-width: 800px) {
  /* line 204, ../sass/3-modules/_sections.scss */
  .latest_project {
    padding: 4em 0 2em;
  }
  /* line 345, ../sass/3-modules/_sections.scss */
  .latest_project .top_header {
    padding-bottom: 2em;
  }
  /* line 347, ../sass/3-modules/_sections.scss */
  .latest_project .top_header h2 {
    font-size: 28px;
  }
  /* line 348, ../sass/3-modules/_sections.scss */
  .latest_project .top_header .subtitle_text {
    font-size: 18px;
  }
  /* line 350, ../sass/3-modules/_sections.scss */
  .latest_project .subhead {
    padding-left: 8%;
  }
  /* line 353, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid h4 {
    font-size: 16px !important;
  }
  /* line 354, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small {
    padding-bottom: 0.4em;
  }
  /* line 356, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small .desc {
    padding-right: 2em;
    font-size: 13px;
  }
  /* line 358, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid {
    padding-bottom: 0.9em;
  }
  /* line 361, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .item {
    width: 50px;
    height: 50px;
  }
  /* line 368, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .features p {
    font-size: 13px;
  }
  /* line 371, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .bottomline {
    font-size: 13px;
  }
  /* line 373, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .bottomline .ref {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  /* line 204, ../sass/3-modules/_sections.scss */
  .latest_project {
    padding-top: 4em;
  }
  /* line 380, ../sass/3-modules/_sections.scss */
  .latest_project .top_header {
    padding-bottom: 2em;
  }
  /* line 382, ../sass/3-modules/_sections.scss */
  .latest_project .top_header h2 {
    font-size: 28px;
  }
  /* line 383, ../sass/3-modules/_sections.scss */
  .latest_project .top_header .subtitle_text {
    font-size: 18px;
  }
  /* line 385, ../sass/3-modules/_sections.scss */
  .latest_project .subhead {
    padding: 0;
  }
  /* line 387, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid {
    padding: 0 7em;
  }
  /* line 389, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid h4 {
    font-size: 18px;
  }
  /* line 391, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small .desc {
    padding-right: 0;
    font-size: 16px;
  }
  /* line 393, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid {
    padding-bottom: 0.9em;
  }
  /* line 396, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .features p {
    font-size: 16px;
  }
  /* line 399, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .item {
    width: 55px;
    height: 55px;
  }
  /* line 402, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .item img {
    left: 30%;
  }
  /* line 406, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .bottomline {
    font-size: 16px;
  }
  /* line 411, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .tphone img {
    float: right;
  }
}
@media screen and (max-width: 576px) {
  /* line 416, ../sass/3-modules/_sections.scss */
  .latest_project .top_header {
    padding-bottom: 1em;
  }
  /* line 417, ../sass/3-modules/_sections.scss */
  .latest_project .top_header h2 {
    font-size: 26px;
  }
  /* line 418, ../sass/3-modules/_sections.scss */
  .latest_project .top_header .subtitle_text {
    font-size: 16px;
  }
  /* line 422, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid {
    padding: 0 5em;
  }
  /* line 424, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid h4 {
    font-size: 16px !important;
  }
  /* line 425, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small {
    padding: 0.7em 0;
  }
  /* line 426, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small h4 {
    padding-bottom: 0.6em;
  }
  /* line 431, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .item {
    width: 50px;
    height: 50px;
  }
  /* line 434, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .item img {
    transform: translate(-40%, -50%) scale(0.7, 0.7);
    left: 40%;
  }
}
@media screen and (max-width: 425px) {
  /* line 204, ../sass/3-modules/_sections.scss */
  .latest_project {
    padding-top: 2em;
  }
  /* line 445, ../sass/3-modules/_sections.scss */
  .latest_project .top_header h2 {
    font-size: 24px;
  }
  /* line 446, ../sass/3-modules/_sections.scss */
  .latest_project .top_header .subtitle_text {
    font-size: 15px;
  }
  /* line 449, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid {
    padding: 0 4em;
  }
  /* line 451, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid h4 {
    font-size: 15px !important;
  }
  /* line 452, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small {
    padding: 0.7em 2.6em 0 0;
  }
  /* line 453, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small h4 {
    padding-bottom: 0.6em;
  }
  /* line 455, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small .desc {
    font-size: 14px;
  }
  /* line 457, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid {
    padding-bottom: 0.8em;
  }
  /* line 461, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .item {
    width: 50px;
    height: 50px;
  }
  /* line 467, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .features p {
    font-size: 14px;
  }
  /* line 470, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .bottomline {
    font-size: 14px;
  }
}
@media screen and (max-width: 375px) {
  /* line 476, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid {
    padding: 0 3.7em;
  }
  /* line 478, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid h4 {
    font-size: 14px !important;
  }
  /* line 479, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small {
    padding: 0.7em 0;
  }
  /* line 483, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .features {
    padding: 0 0 0 2em;
  }
  /* line 485, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .features p {
    font-size: 14px;
  }
  /* line 488, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .bottomline {
    font-size: 14px;
    padding-right: 0;
  }
  /* line 491, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .bottomline .ref {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  /* line 499, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid h4 {
    font-size: 14px;
  }
  /* line 501, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .header_small .desc {
    font-size: 12px;
  }
  /* line 505, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .items .item {
    width: 50px;
    height: 50px;
  }
  /* line 510, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .features {
    padding-left: 2em;
  }
  /* line 512, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .grid .features p {
    font-size: 12px;
  }
  /* line 515, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .bottomline {
    font-size: 12px;
  }
  /* line 517, ../sass/3-modules/_sections.scss */
  .latest_project .subhead .mid .bottomline .ref {
    font-size: 12px !important;
  }
}

/* line 526, ../sass/3-modules/_sections.scss */
#culture {
  background-color: #f9f9f9;
  margin: 0;
  width: 100%;
}
/* line 530, ../sass/3-modules/_sections.scss */
#culture .text {
  margin: 10% 0;
}
@media screen and (max-width: 1200px) {
  /* line 532, ../sass/3-modules/_sections.scss */
  #culture .text h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 576px) {
  /* line 532, ../sass/3-modules/_sections.scss */
  #culture .text h2 {
    font-size: 24px;
  }
}
/* line 536, ../sass/3-modules/_sections.scss */
#culture .text .subtitle_text {
  font-size: 25px;
}
@media screen and (max-width: 1200px) {
  /* line 536, ../sass/3-modules/_sections.scss */
  #culture .text .subtitle_text {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  /* line 536, ../sass/3-modules/_sections.scss */
  #culture .text .subtitle_text {
    font-size: 16px;
  }
}
/* line 541, ../sass/3-modules/_sections.scss */
#culture .text h4 {
  font-size: 18px;
  color: #222222;
  font-weight: 700;
  margin-top: 1em;
}
@media screen and (max-width: 1200px) {
  /* line 541, ../sass/3-modules/_sections.scss */
  #culture .text h4 {
    font-size: 16px;
  }
}
/* line 549, ../sass/3-modules/_sections.scss */
#culture .text .values {
  margin: 5% 12.5% 0;
}
@media screen and (max-width: 768px) {
  /* line 549, ../sass/3-modules/_sections.scss */
  #culture .text .values {
    margin: 7% 10%;
  }
}
/* line 552, ../sass/3-modules/_sections.scss */
#culture .text .values .icons {
  position: relative;
  border-radius: 50%;
  border-style: solid;
  border-color: #777777;
  height: 6em;
  width: 6em;
  display: inline-block;
}
/* line 557, ../sass/3-modules/_sections.scss */
#culture .text .values .icons img {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 40%);
}
/* line 567, ../sass/3-modules/_sections.scss */
#culture .text .values .icon1::after {
  content: "";
  position: absolute;
  border-top: 2px solid;
  width: 50%;
  top: 2.5em;
  transform: translateX(50%);
}
@media screen and (max-width: 992px) {
  /* line 567, ../sass/3-modules/_sections.scss */
  #culture .text .values .icon1::after {
    visibility: hidden;
  }
}
/* line 576, ../sass/3-modules/_sections.scss */
#culture .text .values .icon2::after {
  content: "";
  position: absolute;
  border-top: 2px solid;
  width: 50%;
  top: 2.5em;
  transform: translate(50%, 0);
}
@media screen and (max-width: 992px) {
  /* line 576, ../sass/3-modules/_sections.scss */
  #culture .text .values .icon2::after {
    visibility: hidden;
  }
}
/* line 585, ../sass/3-modules/_sections.scss */
#culture .text .values .description {
  font-size: 16px;
}
@media screen and (max-width: 1200px) {
  /* line 585, ../sass/3-modules/_sections.scss */
  #culture .text .values .description {
    font-size: 15px;
  }
}
@media screen and (max-width: 992px) {
  /* line 585, ../sass/3-modules/_sections.scss */
  #culture .text .values .description {
    margin-bottom: 5%;
  }
}
@media screen and (max-width: 576px) {
  /* line 585, ../sass/3-modules/_sections.scss */
  #culture .text .values .description {
    font-size: 14px;
  }
}

/* line 597, ../sass/3-modules/_sections.scss */
#clients {
  margin: 7% 0;
  font-family: RobotoSlab;
}
@media screen and (max-width: 1200px) {
  /* line 600, ../sass/3-modules/_sections.scss */
  #clients .heading {
    font-size: 40px;
  }
}
@media screen and (max-width: 992px) {
  /* line 600, ../sass/3-modules/_sections.scss */
  #clients .heading {
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  /* line 600, ../sass/3-modules/_sections.scss */
  #clients .heading {
    font-size: 24px;
  }
}
@media screen and (max-width: 576px) {
  /* line 600, ../sass/3-modules/_sections.scss */
  #clients .heading {
    font-size: 20px;
  }
}
/* line 606, ../sass/3-modules/_sections.scss */
#clients .subtitle_text {
  font-size: 25px;
}
@media screen and (max-width: 1200px) {
  /* line 606, ../sass/3-modules/_sections.scss */
  #clients .subtitle_text {
    font-size: 25px;
  }
}
@media screen and (max-width: 992px) {
  /* line 606, ../sass/3-modules/_sections.scss */
  #clients .subtitle_text {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  /* line 606, ../sass/3-modules/_sections.scss */
  #clients .subtitle_text {
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) {
  /* line 606, ../sass/3-modules/_sections.scss */
  #clients .subtitle_text {
    font-size: 14px;
  }
}
/* line 614, ../sass/3-modules/_sections.scss */
#clients .grid {
  padding: 2.5% 17% 0;
}
@media screen and (max-width: 1200px) {
  /* line 614, ../sass/3-modules/_sections.scss */
  #clients .grid {
    padding: 2% 15% 0;
  }
}
@media screen and (max-width: 992px) {
  /* line 614, ../sass/3-modules/_sections.scss */
  #clients .grid {
    padding: 2% 10% 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 614, ../sass/3-modules/_sections.scss */
  #clients .grid {
    padding: 10% 20% 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 614, ../sass/3-modules/_sections.scss */
  #clients .grid {
    padding: 10% 7.5% 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 620, ../sass/3-modules/_sections.scss */
  #clients .grid .item1, #clients .grid .item4 {
    text-align: -webkit-center;
  }
}
/* line 622, ../sass/3-modules/_sections.scss */
#clients .grid .item1 .item, #clients .grid .item4 .item {
  background: #222222;
  border-radius: 50%;
  height: 221px;
  width: 221px;
}
@media screen and (max-width: 1200px) {
  /* line 622, ../sass/3-modules/_sections.scss */
  #clients .grid .item1 .item, #clients .grid .item4 .item {
    width: 192px;
    height: 192px;
  }
}
@media screen and (max-width: 992px) {
  /* line 622, ../sass/3-modules/_sections.scss */
  #clients .grid .item1 .item, #clients .grid .item4 .item {
    width: 176px;
    height: 176px;
  }
}
/* line 632, ../sass/3-modules/_sections.scss */
#clients .grid .item4 .item {
  float: right;
}
@media screen and (max-width: 767px) {
  /* line 632, ../sass/3-modules/_sections.scss */
  #clients .grid .item4 .item {
    float: none;
  }
}
/* line 637, ../sass/3-modules/_sections.scss */
#clients .grid .item2, #clients .grid .item3 {
  transform: translateY(10%);
}
/* line 639, ../sass/3-modules/_sections.scss */
#clients .grid .item2 .tooltext, #clients .grid .item3 .tooltext {
  width: auto;
  height: auto;
  position: relative;
  background: #f9f9f9;
  padding: 7.5%;
}
@media screen and (max-width: 576px) {
  /* line 639, ../sass/3-modules/_sections.scss */
  #clients .grid .item2 .tooltext, #clients .grid .item3 .tooltext {
    padding: 5%;
  }
}
/* line 646, ../sass/3-modules/_sections.scss */
#clients .grid .item2 .tooltext .text, #clients .grid .item3 .tooltext .text {
  font-size: 22px;
}
@media screen and (max-width: 1200px) {
  /* line 646, ../sass/3-modules/_sections.scss */
  #clients .grid .item2 .tooltext .text, #clients .grid .item3 .tooltext .text {
    font-size: 18px;
  }
}
@media screen and (max-width: 991px) {
  /* line 646, ../sass/3-modules/_sections.scss */
  #clients .grid .item2 .tooltext .text, #clients .grid .item3 .tooltext .text {
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  /* line 646, ../sass/3-modules/_sections.scss */
  #clients .grid .item2 .tooltext .text, #clients .grid .item3 .tooltext .text {
    font-size: 14px;
  }
}
/* line 652, ../sass/3-modules/_sections.scss */
#clients .grid .item2 .tooltext .clientname, #clients .grid .item3 .tooltext .clientname {
  color: #7cc576;
  font-size: 18px;
}
@media screen and (max-width: 1200px) {
  /* line 652, ../sass/3-modules/_sections.scss */
  #clients .grid .item2 .tooltext .clientname, #clients .grid .item3 .tooltext .clientname {
    font-size: 15px;
  }
}
@media screen and (max-width: 991px) {
  /* line 652, ../sass/3-modules/_sections.scss */
  #clients .grid .item2 .tooltext .clientname, #clients .grid .item3 .tooltext .clientname {
    font-size: 14px;
  }
}
@media screen and (max-width: 991px) {
  /* line 652, ../sass/3-modules/_sections.scss */
  #clients .grid .item2 .tooltext .clientname, #clients .grid .item3 .tooltext .clientname {
    font-size: 12px;
  }
}
/* line 662, ../sass/3-modules/_sections.scss */
#clients .grid .item2 .tooltext::after {
  content: '';
  position: absolute;
  left: -3%;
  top: 50%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-right-color: #f9f9f9;
  border-left: 0;
  transform: translateY(-50%);
  margin-left: 0;
}
@media screen and (max-width: 767px) {
  /* line 662, ../sass/3-modules/_sections.scss */
  #clients .grid .item2 .tooltext::after {
    visibility: hidden;
  }
}
/* line 678, ../sass/3-modules/_sections.scss */
#clients .grid .item3 .tooltext::after {
  content: '';
  position: absolute;
  right: -3%;
  top: 50%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-left-color: #f9f9f9;
  border-right: 0;
  transform: translateY(-50%);
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  /* line 678, ../sass/3-modules/_sections.scss */
  #clients .grid .item3 .tooltext::after {
    visibility: hidden;
  }
}

/* line 698, ../sass/3-modules/_sections.scss */
#talknext {
  width: 100%;
  height: auto;
  background-color: #7cc576;
  color: #ffffff;
  padding: 4em 9em;
}
@media screen and (max-width: 1200px) {
  /* line 698, ../sass/3-modules/_sections.scss */
  #talknext {
    padding: 2em 6em;
  }
}
@media screen and (max-width: 768px) {
  /* line 698, ../sass/3-modules/_sections.scss */
  #talknext {
    padding: 1.5em 4em;
  }
}
@media screen and (max-width: 576px) {
  /* line 698, ../sass/3-modules/_sections.scss */
  #talknext {
    padding: 1em;
  }
}
/* line 707, ../sass/3-modules/_sections.scss */
#talknext #talk {
  color: #ffffff;
  margin-bottom: 1em;
}
@media screen and (max-width: 1200px) {
  /* line 707, ../sass/3-modules/_sections.scss */
  #talknext #talk {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  /* line 707, ../sass/3-modules/_sections.scss */
  #talknext #talk {
    font-size: 24px;
  }
}
@media screen and (max-width: 576px) {
  /* line 707, ../sass/3-modules/_sections.scss */
  #talknext #talk {
    font-size: 18px;
  }
}
@media screen and (max-width: 375px) {
  /* line 707, ../sass/3-modules/_sections.scss */
  #talknext #talk {
    font-size: 16px;
  }
}
/* line 715, ../sass/3-modules/_sections.scss */
#talknext .button3 {
  border-color: #ffffff;
  border-style: solid;
  border-width: 3px;
  border-radius: 0.5em;
  width: 11em;
  height: 3em;
  font-size: 18px;
  text-shadow: none;
}
@media screen and (max-width: 1200px) {
  /* line 715, ../sass/3-modules/_sections.scss */
  #talknext .button3 {
    font-size: 16px;
    width: 10em;
  }
}
@media screen and (max-width: 768px) {
  /* line 715, ../sass/3-modules/_sections.scss */
  #talknext .button3 {
    font-size: 15px;
  }
}
@media screen and (max-width: 576px) {
  /* line 715, ../sass/3-modules/_sections.scss */
  #talknext .button3 {
    font-size: 12px;
  }
}
/* line 728, ../sass/3-modules/_sections.scss */
#talknext .button3:hover {
  color: #7cc576 !important;
}

/* line 735, ../sass/3-modules/_sections.scss */
#logos {
  padding: 2em 0;
  margin-top: 0;
  width: 54.6%;
}
@media screen and (max-width: 768px) {
  /* line 735, ../sass/3-modules/_sections.scss */
  #logos {
    width: 70%;
    padding: 1.5em 0;
  }
}
@media screen and (max-width: 576px) {
  /* line 735, ../sass/3-modules/_sections.scss */
  #logos {
    padding: 0.75em 0;
  }
}
/* line 741, ../sass/3-modules/_sections.scss */
#logos .logo {
  padding: 2%;
  text-align: -webkit-center;
}
